
ion-icon{
  color:var(--color-icon);
}


ion-list{
  padding:1px
}
ion-item{
  --background:var(--item-background);
ion-label{
color:var(--item-text-color-large);
}

p{
  color:var(--item-text-color-small) !important;
}
}
